:root {
    --background: #d2f2fb;
    --primary-color: #cbd3d788;
    --secondary-color: #91a2ab;
    --accent-color: #44d7dd;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Sniglet", system-ui;
    font-size: 16px;
    color: var(--text-color);
}

body {
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#to-do-list {
    list-style: none;
}

#to-do-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#to-do-input:focus {
    outline: none;
}

form {
    position: relative;
}

#add-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    color: var(--background);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#add-btn:hover {
    background-color: #3abfc4;
}

.to-do {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.to-do .to-do-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background: none;
    border: none;
    cursor: pointer;
}

.delete-btn svg {
    transition: 200ms ease;
}

.delete-btn:hover svg {
    fill: #ff0033;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .to-do-text {
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type="checkbox"] {
    display: none;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: #00000066;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay.hidden {
    display: none;
}

.modal {
    background: #cbd3d7;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
}

.modal-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

#modal-confirm {
    background-color: var(--accent-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    color: var(--background);
    font: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#modal-confirm:hover {
    background-color: #3abfc4;
}

#modal-cancel {
    background: none;
    border: 2px solid var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    color: var(--accent-color);
    font: inherit;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#modal-cancel:hover {
    border-color: #3abfc4;
    color: #3abfc4;
}

.info-img {
    position: fixed;
    top: 60vh;
    right: -10vh;
    z-index: 999;
    width: 12vw;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.info-img:hover {
    transform: translateX(-5vh);
}

.info-modal-overlay {
    position: fixed;
    inset: 0;
    background: #00000066;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-modal-overlay.hidden {
    display: none;
}

.info-modal {
    background: #cbd3d7;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    width: 50vw;
}

#info-close-btn {
    background-color: var(--accent-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    color: var(--background);
    font: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#info-close-btn:hover {
    background-color: #3abfc4;
}

#info-modal-h2 {
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-align: center;
    font-size: 2rem;
}

#info-modal-text {
    margin-bottom: 1rem;
    text-align: center;
}

@media (max-width: 500px) {
    html {
        font-size: 12px;
    }

    #add-btn {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}